.imagen{
    max-width:100%;
}

a{
    cursor:pointer;
}
.alerta{
    font-weight:900;
}
body{
    background-color: #7577CD;
    overflow-x: hidden;
}
.modal-contenedor{
    display:flex;
    align-items: center;
    gap:2rem;
}
.img-carrito{
    width:200px;
    padding:20px;
} 
.modal-content{
    background-color: #E3D8D6;
}
.parrafo{
    font-weight: 900;
    font-style: italic;
}
#precioTotal{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
.boton{
    opacity:0;
}
.mt-5{
    background-color: #7577CD;
}
.navbar{
    background-color: #080957;
}
.fuente-body{
    background-color: #7577CD;
}
.colorBotonCarrito{
    background: #0062cc;
    color: #0062cc;
}